@font-face {
    font-family: 'HCo Gotham';
    src: url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Thin_Web.woff2") format("woff2"), url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Thin_Web.woff") format("woff");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: 'HCo Gotham';
    src: url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-XLight_Web.woff2") format("woff2"), url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-XLight_Web.woff") format("woff");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: 'HCo Gotham';
    src: url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Light_Web.woff2") format("woff2"), url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Light_Web.woff") format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'HCo Gotham';
    src: url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Book_Web.woff2") format("woff2"), url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Book_Web.woff") format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'HCo Gotham';
    src: url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-BookItalic_Web.woff2") format("woff2"), url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-BookItalic_Web.woff") format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'HCo Gotham';
    src: url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Medium_Web.woff2") format("woff2"), url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Medium_Web.woff") format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'HCo Gotham';
    src: url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Bold_Web.woff2") format("woff2"), url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Bold_Web.woff") format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'HCo Gotham';
    src: url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Black_Web.woff2") format("woff2"), url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Black_Web.woff") format("woff");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: 'HCo Gotham';
    src: url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Ultra_Web.woff2") format("woff2"), url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/hco_gotham/Gotham-Ultra_Web.woff") format("woff");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url("https://don16obqbay2c.cloudfront.net/wp-content/themes/common/fonts/AnonymousPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@-ms-viewport {
    width: device-width
}

.toplevel_page_w3b-store #wpcontent {
    padding-left: 0px;
}

.w3bstore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "HCo Gotham", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #fff !important;
    min-height: calc(100vh - 32px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.w3bstore--welcome {
    background-image: linear-gradient(237deg, #30baff 0%, #0091e6 100%);
    padding: 16px;
}

.w3b-content {
    max-width: 505px;
    margin-bottom: 32px;
    word-break: break-word;
}

.w3b-logo {
    margin-bottom: 16px;
    width: 100%;
    height: auto;
    max-width: 111px;
}

.w3b-logo svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}

.w3bstore--welcome h2 {
    /* font-weight: 600; */
    color: #fff;
}

.w3bconnect-page h2, .w3bconnect-page .h2 {
    font-size: 40px;
    line-height: 48px;
    /* font-weight: 900; */
    margin: 0 0 16px;
}

.w3b-subheading {
    margin-bottom: 24px;
}

.w3bconnect-page p:first-child, .w3bconnect-page p:only-child, .w3bconnect-page li:first-child, .w3bconnect-page li:only-child {
    margin-top: 0;
}

.w3b-subheading p {
    margin: 0 0 16px;
    font-size: 14px;
    line-height: 24px;
}

.w3b-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 440px;
}

.w3b-button {
    width: 100%;
}

.w3b-button .btn {
    width: 100%;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 14px;
}

.w3b-form a {
    display: inline-block;
    margin-bottom: 16px;
}

.w3bstore--welcome a {
    color: #fff;
}

.w3bstore--welcome .btn--orange {
    color: #000;
    background-color: #FFCB35;
    border-color: #FFCB35;
    -webkit-transition: background-color .1s linear, -webkit-transform .1s linear, -webkit-box-shadow .1s linear;
    transition: background-color .1s linear, -webkit-transform .1s linear, -webkit-box-shadow .1s linear;
    transition: transform .1s linear, box-shadow .1s linear, background-color .1s linear;
    transition: transform .1s linear, box-shadow .1s linear, background-color .1s linear, -webkit-transform .1s linear, -webkit-box-shadow .1s linear;
}

.w3bconnect-page a {
    color: #007ac9;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
    font-weight: 500;
}

.w3b-form a {
    display: inline-block;
    margin-bottom: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
    font-weight: 500;
}

.btn {
    font-weight: 600;
    font-size: 18px;
    font-family: "HCo Gotham", sans-serif;
    line-height: 24px;
    letter-spacing: 0;
    border: 2px solid;
    border-radius: 4px;
    outline: 0 none;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-width: 144px;
    max-width: 400px;
    vertical-align: top;
    margin: 0;
    padding: 10px 30px;
    text-align: center;
    white-space: nowrap;
}

.btn:hover {
    position: relative;
    background-color: #3c3d3d;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    border-color: #3c3d3d;
}

.btn--orange {
    background-color: #FFCB35;
    border-color: #FFCB35;
}

.btn--orange:hover {
    position: relative;
    background-color: #e8b932;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    border-color: #e8b932;
}

.btn--orange:active {
    background-color: #ce9900;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-color: #ce9900;
}

.btn--large {
    font-size: 20px;
    padding: 14px 38px;
    line-height: 24px;
}

.w3b-note {
    color: #bde7ff;
}

@media (min-width: 576px) {
    .w3b-form {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        max-width: none;
    }
    .w3b-button {
        width: auto;
        margin-right: 30px;
    }

    .btn {
        width: auto;
    }
}

@media (min-width: 992px) {
    .w3bconnect-page h2, .w3bconnect-page .h2 {
        font-size: 48px;
        line-height: 56px;
    }
}

@media (min-width: 1200px) {
    .w3bstore--welcome {
        background-image: url(../images/welcome.png), linear-gradient(237deg, #30baff 0%, #0091e6 100%);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
        padding-left: 9%;
        max-height: 817px;
    }
    .w3b-poweredby {
        padding: 0 64px;
        text-align: right;
    }
}